[submodule "src/ros_odrive"]
	path = src/ros_odrive
	url = https://github.com/odriverobotics/ros_odrive.git
[submodule "src/catbot_description"]
	path = src/catbot_description
	url = https://github.com/rice-robotics-club/catbot_description.git
[submodule "src/catbot_leg_description"]
	path = src/catbot_leg_description
	url = https://github.com/rice-robotics-club/catbot_leg_description.git
[submodule "src/icm20948_ros2_control"]
	path = src/icm20948_ros2_control
	url = https://github.com/lopatoj/icm20948_ros2_control.git
